<!DOCTYPE html>
   <head>
      <title>{{title}}</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2> Commands </h2>
			<a href="up" class="button">up</a>  
			<a href="down"class="button">down</a>
			<a href="left"class="button">left</a>
			<a href="right"class="button">right</a>
			<a href="col+1"class="button">col+1</a>
			<a href="col-1"class="button">col-1</a>
			<a href="row+1"class="button">row+1</a>
			<a href="row-1"class="button">row-1</a>
      <h3> row {{row}}, column {{column}}</h3>
   </body>
</html>